# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- List the open source data management tools
- List the Data visualization tools
- List the roles involved in Data Science

Some of the popular languages that Data scientists use are:
1. Python
2. R language
3. SQL
4. scala
5. Java etc

Some of the commonly used libraries used by Data scientist include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Apache Spark

|Data Science Tools|
|------------------|

Jupyter

RStudio

Vs Code

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2+3

5

In [2]:
4-3

1

In [3]:
8*2

16

This is a simple arithmetic expression to multiply then add integers

In [4]:
(3*4) + 5

17

This will convert 200minutes to hours by dividing by 60

In [6]:
200/60

3.3333333333333335

## Author

Kuti Omowumi